# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text
*.txt text
*.json text

# Scripts
*.sh text eol=lf
*.bash text eol=lf

# Source code
*.js text
*.jsx text
*.ts text
*.tsx text
*.css text
*.scss text
*.html text
*.xml text
*.svg text

# Config files
.gitignore text
.gitattributes text
.editorconfig text

# Prisma
*.prisma text

# Prevent certain files from being exported
.gitattributes export-ignore
.gitignore export-ignore
